
/web/bundles/acmedemo/
/web/bundles/framework/
/web/bundles/sensiodistribution/
/web/bundles/webprofiler/


/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
bd.sqlite


netbeans/*

/src/Acme/*

