composer.phar
/web/bundles/acmedemo/
/web/bundles/framework/
/web/bundles/sensiodistribution/
/web/bundles/webprofiler/
src/SOFFT/AnglaisBundle/Resources/raw/.sass-cache

/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
bd.sqlite


netbeans/*

/src/Acme/*
*~
