{% extends 'SOFFTAnglaisBundle::layout.html.twig' %}

{% block body %}

<p> Ce mot est en cours d'édition par {{user.username}}. Revenez plus tard ! </p>

<p><a href=" {{ path('SAB_liste_mot', {'page': 1}) }} ">Retour à la liste</a></p>


{% endblock %}