<!DOCTYPE html> 
<html>
    <head>
        <title>SOFFT Anglais Technique | {% block title %}Titre par défaut{% endblock %} </title>
        {% block javascript %}
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
                    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/junction" rel="stylesheet" type="text/css"/> 


        <style type="text/css">
            #menu {
                padding: 10px;
                
                margin-bottom: 10px;
                background-color: white;
                border: 1px solid #4444dd;
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
                text-align: right;
            }
            #menu ul {
                list-style-type: none;
            }
            #menu ul li {
                display: inline;
                
            }
            #body {
    
                margin-left: auto;
                margin-right: auto;
                width: 1010px;
            }

            ul.pagination  {
                list-style-type: none;
            }

            ul.pagination  li {
                display: inline;
                margin-left: 5px;
                margin-right: 5px;
            }
            
            *, p, ul, li, div, form, input {
                font-family: 'Junction';
                font-weight: normal;
                font-style: normal;
                }
            
        </style>

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="{{path('logout')}}">Se déconnecter</a></li>
            </ul>
        </div>
        <div id="body">

            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
            
            

            {% block body %}Rien dans le body...{% endblock %}
        </div>
    </body>
</html>
