<!DOCTYPE html> 
<html>
    <head>
        <title>SOFFT Anglais Technique | {% block title %}Titre par défaut{% endblock %} </title>
        {% block javascript %}
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}

        {% block css %}
            <!-- Aucun fichier css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>
        {% block body %}Rien dans le body...{% endblock %}
    </body>
</html>
