ul.tag_list {
    li {
        padding: 5px;
        text-align: center;
    }
    
    a.action {
        color: black;
    }
}

ul.pagination {
    
    text-align: center;
    
    li {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
    }
}
