{% extends 'SOFFTAnglaisBundle::layout.html.twig' %}

{% block body %}

<form action="{{ path('SAB_create_account') }}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}

    <input type="submit" />
</form>


{% endblock %}